@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&family=Varela+Round&display=swap');

*{
  margin: 0;
  padding: 0;
  /* background-color: black; */
}
body{
  background-color: black;
  /* text-align: center; */
}
hr{
  color: white;
}

.nav{
  /* min-height: 10%;
  background-color: black;
  color:white; */
  font-family: 'Ubuntu', sans-serif;
}
nav ul{
  background-color: black;
  display: flex;
  align-items: center;
  height: 65px;
  color: white;
  list-style-type: none;
  padding: 10px ;
  margin-top: 10px;
}
nav ul li{
  padding: 5px 8px;
}
.brand img{
  width: 45px;
  padding: 0 3px;
}
.brand{
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.3rem;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: red;
}
h4:hover{
  color: red;
}
/* h2:hover{
  color:red;
}
h3:hover{
  color: red;
} */
h3,h4,h6{
  color: white;
}
.icon-inner {
  width: 98%;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  min-height: 340px;
  padding: auto;
  text-align: center;
}

.col-1 {
  float: left;
}

.col-2 {
  display: inline-block;
  margin: 0 auto;
}

.col-3 {
  float: right;
}

.cooli {
  display: inline-block;
  padding: 5px;
  width: 32%;
  text-align: center;
  position: relative;
  /* border-color: white; */
  /* border-style: double; */
  /* border: 0.4px  white;
  border-radius: 5px; */
  margin: 5px 0;
}
/* h6{
  text-align: left;
} */
.h6{
  display: inline-block;
  padding: 2px;
  width: 350px;
  text-align: left;
  position: relative;
}
iframe{
  width: 350px;
  height: 215px;
}
.about{
  background-color: #171717;
  color: white;
}
#features{
  padding: 2% 2%;
  /* background-color: #fff; */
  /* position: relative; */
}
.feature-box{
  padding: 5px;

}

.par1{
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 10% auto;
}
.r1{
  width: 60%;
  margin: 1% 5%;
  /* background-color: black; */
}
.r2{
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 3% auto;
}
@media screen and (max-width: 1160px) {
  .cooli{
    min-height: 550px;
    width: 100%;
    max-width: 100%;
    margin: 2px 0;
  }
  .h6{
    display: inline-block;
    padding: 2px;
    width: 100%;
    text-align: left;
    position: relative;
  }

  iframe{
    width:100%;
    height: 450px;
  }
}
footer{
  text-align: center;
  color: white;
}
